<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Anime</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Anime</h1>
    <table>
        <thead>
        <tr>
            <th> Title </th>
            <th> Status </th>
            <th> Episodes </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${animeList.empty}">
            <td colspan="2"> No Anime Available </td>
        </tr>
        <tr th:each="anime : ${animeList}">
            <td><span th:text="${anime.title}"> Title </span></td>
            <td><span th:text="${anime.status}"> Status </span></td>
            <td><span th:text="${anime.episodeCount}"> Episodes </span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>